body{
    width : 800px;
    margin:auto;
}

.container{
    display:flex;
}

h1, h2{
    
    border:1px solid black;
    margin-left:70px;;
}


.libelle{
    background: linear-gradient(to bottom right, rgb(102, 155, 235), white);
    padding:10px;
    width:220px;
    border-radius:10px;
}

.main_content{
    margin-left:20px;
}